<!-- <mat-nav-list>
  <mat-list>

    
      <mat-divider></mat-divider>
      <a  mat-list-item [routerLinkActive]="['is-active']"  routerLink="/dashboard"><i  class='bx bxs-dashboard bx-sm me-3  c-primary ' ></i> Tableau de bord</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLinkActive]="['is-active']" class="test"  routerLink="/client"><mat-icon class="c-blue me-3">people_outline</mat-icon> Client</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLinkActive]="['is-active']"  routerLink="/fournisseur"><mat-icon  class="c-blue me-3" >people_outline</mat-icon> Fournisseur</a>
      <mat-divider></mat-divider>
      <a mat-list-item  [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['is-active']" routerLink="/produit"><i  class='fa fa-cubes me-3 fa-lg c-pink '></i>Produit</a>
      <mat-divider></mat-divider>
      <a mat-list-item   [routerLinkActive]="['is-active']" routerLink="/produit/categorie"><i class='bx bx-category bx-sm me-3 c-pink '></i> Categorie</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLinkActive]="['is-active']"  routerLink="/bonAchat"><i class='bx bx-cart-download bx-sm me-3 c-green '></i> Bon Achat</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/reglementFournisseur"><i class='bx bx-money bx-sm me-3  c-yellow '></i> Reg Fournisseur</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/bonHonoraire"><i class='bx bx-cart bx-sm me-3 c-green '></i> Bon Honoraire</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLinkActive]="['is-active']"  routerLink="/reglementClient"><i class='bx bx-money bx-sm me-3 c-yellow '></i> Reg Client</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLinkActive]="['is-active']"  routerLink="/facture"><i class='fa fa-files-o me-3 fa-lg  c-green '></i> Factures</a>
      <mat-divider></mat-divider>
  </mat-list>
</mat-nav-list> -->

<mat-nav-list>
  <mat-list>

    
      <mat-divider></mat-divider>
      <a mat-list-item   routerLink="/"><i class='bx bx-money bx-sm me-3 c-yellow '>home</i> </a>
      <mat-divider></mat-divider>
      <a  mat-list-item [routerLinkActive]="['is-active']"  routerLink="/client/add"><i  class='bx bxs-dashboard bx-sm me-3  c-primary ' ></i> Registre client</a>
      <mat-divider></mat-divider>
     
      <mat-divider></mat-divider>
  </mat-list>
</mat-nav-list> 