

 <!-- <app-header></app-header> 

        
    
        <router-outlet></router-outlet>
 
<app-footer></app-footer>  -->
<!-- <br><br><br>jjjjjjjjjjjj
<ng-sidebar-container>
ssssssssssssssssssssss
   
        <ng-sidebar [(opened)]="sideBarOpen">
          <p>Sidebar contents</p>
        </ng-sidebar>
  sssssssssss
    
        <div ng-sidebar-content>
          <button (click)="sideBarToggler()">Toggle sidebar</button>sssssss
          dddddddddddd
        </div>
  ssssssssssssss
      </ng-sidebar-container> -->
    
      <mat-drawer-container >
        
        <mat-drawer mode="side" [opened]="sideBarOpen">
            <app-sidebar class="sibdar"></app-sidebar>
        </mat-drawer>
        <mat-drawer-content>
          <app-header (toggleSideBarForMe)="sideBarToggler()">
          </app-header> 
  
            
            <router-outlet></router-outlet>
            <app-footer></app-footer> 
        </mat-drawer-content>
    </mat-drawer-container>