
<section class="py-5 bg-light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5 aos-init aos-animate" data-aos="fade-up">
          <figure class="img-absolute">
            <img src="assets/images/food-1.jpg" alt="Image" class="img-fluid">
          </figure>
          <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid rounded">
        </div>
        <div class="col-md-12 col-lg-4 order-lg-1 aos-init aos-animate" data-aos="fade-up">
          <h2 class="heading">Welcome!</h2>
          <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque architecto adipisci, temporibus consequuntur tenetur similique deserunt eligendi suscipit blanditiis voluptate dolor unde illo soluta voluptatibus consequatur. Sed exercitationem dolor eos?</p>
         </div>
        
      </div>
    </div>
  </section>
<app-hotelroute></app-hotelroute>